{# index.twig #}
{% extends "ui.twig" %}

{% block body %}
  <header>
    <h1>Twiggy</h1>
  </header>
  <p>
    Starting point for quickly building prototypes with twig and json data
  </p>
{% endblock %}
